{% extends "layout.html" %}
{% block current %}
    <div class="container-fluid">
        <h1>About Page</h1>
        <p> The goal of this application is to connect patients with their immunization history and susceptability.  </p>

        <p> This application is part of the deliverables for the implementation project of UConn's Spring 2022 Biomedical Informatics (CSE5810) taught by Professor Steven Demurjian.</p>

        <p> Developed by Bilal Ahmad and Samson Weiner. The code for this project is open source and can be accessed at (github link).</p>
    </div>
{% endblock current %}